name: CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3

            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "18"

            - name: Install dependencies
              run: npm install

            - name: Check Prettier formatting
              run: npx prettier . --check

            - name: Run ESLint
              run: npx eslint . --ext .js,.jsx,.ts,.tsx

            - name: Run tests
              run: npm test

            - name: Build Expo web
              run: npx expo export --experimental-web-build

            - name: Upload build artifact
              uses: actions/upload-artifact@v4
              with:
                  name: web-build
                  path: web-build
